@import url(http://weloveiconfonts.com/api/?family=entypo);


[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
$instagram: #bf4040;
$twitter: rgb(64,153,255);
$about: #68016b;
$github: #8698ed;
$minecraft: #9ed704;
$java : #f0cc00;

$dark_grey: #393939;
$dark_blue : #2f448e;
$orange_title: #c44d07;


a{
    text-decoration: none;
    color: white;
}