
//http://colourco.de/none/%232f448e%2C%237597d1%2C%23f0cc00%2C%23fefffe
@import "reset";

header{
    width: auto;
    display: block;
    height: auto;
}
.page-title {
    background-color: $orange_title;
    color: white;
    font-size: 7em;
    font-family: "bebasregular", sans-serif;
    margin: 0;
    padding-top: 1em;

}
.page-separator{
    background: $dark_grey;
    font-size: 0;
    height: 25px;
}
.content{
    background: white;
        display: block;
}
@media screen and (min-width: 10em){
    .page-title{
        width: 100%;
        font-size: 4em;
    }

}
@media screen and (min-width: 600px){
    .page-title{
        width: 100%;
        font-size: 5em;
    }
}
@media screen and (min-width: 830px){
    .page-title {
    background-color: $orange_title;
    color: white;
    font-size: 7em;
    font-family: "bebasregular", sans-serif;
    margin: 0;
    padding-top: 1em;

}

}
//-----------------------------------------------------
//                    CUSTOM BOX
//-----------------------------------------------------

.custom-box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 10em;
    text-align: center;
    font-size: 4em;
    font-family: "bebasregular", sans-serif;
    padding-top: 3em;
}

.custom-box-twitter, .box.is-activated:hover{
    background: $twitter_color;
}
.custom-box-twitter:hover{
    color: $twitter_color;
}

.custom-box-minecraft, .box.is-activated:hover{
    background: $minecraft_color;
}
.custom-box-minecraft:hover{
    color: $minecraft_color;
}

.custom-box-about, .box.is-activated:hover{
    background: $about_color;
}
.custom-box-about:hover{
    color: $about_color;
}

.custom-box-github, .box.is-activated:hover{
    background: $github_color;
}
.custom-box-github:hover{
    color: $github_color;
}

.custom-box-java, .box.is-activated:hover{
    background: $java_color;
}
.custom-box-java:hover{
    color: $java_color;
}

.custom-box-instagram, .box.is-activated:hover{
    background: $instagram_color;
}
.custom-box-instagram:hover{
    color: $instagram_color;
    
}

.box{
    -webkit-transition: color, 0.5s;
    -moz-transition: color, 0.5s;
    transition: color, 0.5s;
    -webkit-transition: background-color, 0.5s;
    -moz-transition: background-color, 0.5s;
    transition: background-color, 0.5s;
    color: white;
}
.box:hover{
    background: white;
}
span.box-logo{
    display: block;
    padding-top: 1em;
    font-size: 2em;
}

footer{
    display: block;
}
