
//http://colourco.de/none/%232f448e%2C%237597d1%2C%23f0cc00%2C%23fefffe
@import "reset";


body{
    height: 100%;
}

header{
    width: 100%;
    display: block;
    height: auto;
}
.page-title {
    background-color: $orange_title;
    color: white;
    font-size: 7em;
    font-family: "bebasregular", sans-serif;
    margin: 0;
    padding-top: 1em;

}
.page-separator{
    background: $dark_grey;
    font-size: 0;
    height: 25px;
}
.content{
    background: white;
        display: block;
}
//-----------------------------------------------------
//                    CUSTOM BOX
//-----------------------------------------------------

.custom-box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 10em;
    text-align: center;
    font-size: 3em;
    font-family: "bebasregular", sans-serif;
    padding-top: 3em;
    -webkit-transition: background-color, 0.5s;
    -moz-transition: background-color, 0.5s;
    transition: background-color, 0.5s;
    -webkit-transition: color, 0.5s;
    -moz-transition: color, 0.5s;
    transition: color, 0.5s;
}

.custom-box-twitter{
    background: $twitter;
}
.box-twitter:hover{
    color: $twitter;
}

.custom-box-minecraft{
    background: $minecraft;
}
.box-minecraft:hover{
    color: $minecraft;
}

.custom-box-about{
    background: $about;
}
.box-about:hover{
    color: $about;
}

.custom-box-github{
    background: $github;
}
.box-github:hover{
    color: $github;
}

.custom-box-java{
    background: $java;
}
.box-java:hover{
    color: $java;
}

.custom-box-instagram{
    background: $instagram;
}
.box-instagram:hover{
    color: $instagram;
}


.custom-box:hover{
    background: white;
}
span.box-logo{
    display: block;
    padding-top: 1em;
    font-size: 2em;
}


footer{
    display: block;
}
