
//http://colourco.de/none/%232f448e%2C%237597d1%2C%23f0cc00%2C%23fefffe
@import "reset";

$dark_blue : #2f448e;
$light_blue : #7597d1;
$yellow : #f0cc00;
$orange_title: #d65002;
$dark_grey: #393939;

body{
    height: 100%;
}

header{
    width: 100%;
    display: block;
    height: auto;
}
.page-title {
    background-color: $orange_title;
    color: white;
    font-size: 7em;
    font-family: "bebasregular", sans-serif;
    margin: 0;
    padding-top: 1em;

}
.page-separator{
    background: $dark_grey;
    font-size: 0;
    height: 25px;
}
.content{
        display: block;
        height: auto;
}

.nav-custom-g{
    height: 20em;
    width: 100%;

}
.nav-custom-g-u{
    box-sizing: border-box;
    background: $yellow;
    width: 50%;

        min-height: 24em;
        min-width: 24em;
    p{
        text-align: center;
        display: block;
        height: 16em;
        width: 16em;
        margin: 4em;
    }
    a{
        height: 16em;
        width: 16em;
        text-decoration: none;
        color: white;
        font-size: 3em;
        font-family: "bebasregular", sans-serif;

    }
}
