@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=zocial);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* line 4, ../sass/_reset.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 9, ../sass/_reset.scss */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

/* fontawesome */
/* line 15, ../sass/_reset.scss */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* line 29, ../sass/_reset.scss */
body {
  font-size: 100%;
}

/* line 32, ../sass/_reset.scss */
a {
  text-decoration: none;
}

@-webkit-keyframes animationActivated {
  /* line 37, ../sass/_reset.scss */
  0% {
    padding-top: 3em;
  }

  /* line 40, ../sass/_reset.scss */
  25% {
    margin: auto;
  }

  /* line 43, ../sass/_reset.scss */
  50% {
    padding-top: 1em;
  }

  /* line 46, ../sass/_reset.scss */
  100% {
    padding-bottom: 20em;
  }
}

@keyframes animationActivated {
  /* line 51, ../sass/_reset.scss */
  0% {
    padding-top: 3em;
  }

  /* line 54, ../sass/_reset.scss */
  25% {
    margin: auto;
  }

  /* line 57, ../sass/_reset.scss */
  50% {
    padding-top: 1em;
  }

  /* line 60, ../sass/_reset.scss */
  100% {
    padding-bottom: 20em;
  }
}

/* line 5, ../sass/style.scss */
header {
  width: auto;
  display: block;
  height: auto;
}

/* line 10, ../sass/style.scss */
.page-title {
  background-color: #c44d07;
  color: white;
  font-size: 7em;
  font-family: "bebasregular", sans-serif;
  margin: 0;
  padding-top: 1em;
}

/* line 19, ../sass/style.scss */
.page-separator {
  background: #393939;
  font-size: 0;
  height: 25px;
}

/* line 24, ../sass/style.scss */
.content {
  background: white;
  display: block;
}

@media screen and (min-width: 10em) {
  /* line 29, ../sass/style.scss */
  .page-title {
    width: 100%;
    font-size: 4em;
  }
}
@media screen and (min-width: 600px) {
  /* line 36, ../sass/style.scss */
  .page-title {
    width: 100%;
    font-size: 5em;
  }
}
@media screen and (min-width: 830px) {
  /* line 42, ../sass/style.scss */
  .page-title {
    background-color: #c44d07;
    color: white;
    font-size: 7em;
    font-family: "bebasregular", sans-serif;
    margin: 0;
    padding-top: 1em;
  }
}
/* line 57, ../sass/style.scss */
.custom-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 10em;
  text-align: center;
  font-size: 4em;
  font-family: "bebasregular", sans-serif;
  padding-top: 3em;
}

/* line 68, ../sass/style.scss */
.custom-box-twitter, .box.is-activated:hover {
  background: #4099ff;
}

/* line 71, ../sass/style.scss */
.custom-box-twitter:hover {
  color: #4099ff;
}

/* line 75, ../sass/style.scss */
.custom-box-minecraft, .box.is-activated:hover {
  background: #9ed704;
}

/* line 78, ../sass/style.scss */
.custom-box-minecraft:hover {
  color: #9ed704;
}

/* line 82, ../sass/style.scss */
.custom-box-about, .box.is-activated:hover {
  background: #68016b;
}

/* line 85, ../sass/style.scss */
.custom-box-about:hover {
  color: #68016b;
}

/* line 89, ../sass/style.scss */
.custom-box-github, .box.is-activated:hover {
  background: #8698ed;
}

/* line 92, ../sass/style.scss */
.custom-box-github:hover {
  color: #8698ed;
}

/* line 96, ../sass/style.scss */
.custom-box-java, .box.is-activated:hover {
  background: #f0cc00;
}

/* line 99, ../sass/style.scss */
.custom-box-java:hover {
  color: #f0cc00;
}

/* line 103, ../sass/style.scss */
.custom-box-instagram, .box.is-activated:hover {
  background: #bf4040;
}

/* line 106, ../sass/style.scss */
.custom-box-instagram:hover {
  color: #bf4040;
}

/* line 111, ../sass/style.scss */
.box {
  -webkit-transition: color, 0.5s;
  -moz-transition: color, 0.5s;
  transition: color, 0.5s;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
  color: white;
}

/* line 120, ../sass/style.scss */
.box:hover {
  background: white;
}

/* line 123, ../sass/style.scss */
span.box-logo {
  display: block;
  padding-top: 1em;
  font-size: 2em;
}

/* line 129, ../sass/style.scss */
footer {
  display: block;
}
